[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
watchdog = "*"
africastalking = "*"
schedule = "*"
flask-apscheduler = "*"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.10"
